<div class="modal-header">
  <h2>{{ isNew ? 'הוספת בניין חדש' : 'עריכת בניין' }}</h2>
</div>
<div class="modal-content">
  <app-base-input-field [label]="terms.block" type="text" [(ngModel)]="building.block" [required]="true"></app-base-input-field>
  <app-base-input-field [label]="terms.plot" type="text" [(ngModel)]="building.plot" [required]="true"></app-base-input-field>
  <app-base-input-field [label]="terms.subPlot" type="text" [(ngModel)]="building.subPlot"></app-base-input-field>
</div>
<div class="modal-footer">
  <button mat-button (click)="cancel()">{{ terms.cancel }}</button>
  <button mat-raised-button color="primary" (click)="save()">{{ terms.ok }}</button>
</div>
