<div class="projects-container">
  <h2>ניהול פרויקטים</h2>

  <app-base-table
    [data]="projects"
    [entityType]="projectEntity"
    [loading]="loading"
    [totalRecords]="totalRecords"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [sortable]="true"
    [showFilter]="true"
    [showPagination]="true"
    [showActions]="true"
    [showAdd]="true"
    [addButtonText]="'הוסף פרויקט'"
    (onSort)="onSort($event)"
    (onFilter)="onFilter($event)"
    (onPageChange)="onPageChange($event)"
    (onRefresh)="onRefresh()"
    (onAdd)="addProject()"
    (onEdit)="editProject($event)"
    (onDelete)="deleteProject($event)"
    [hiddenColumns]="['id']"
  >
    <!-- Custom column for createDate -->
    <ng-template appTableColumn="createDate" header="תאריך יצירה" let-row>
      <span>
        {{ row.createDate | date: 'HH:mm dd/MM/yyyy' }}
      </span>
    </ng-template>
  </app-base-table>
</div>
